# Configuración de la Base de Datos (Supabase)
SUPABASE_DATABASE_HOST=host_de_supabase_aqui
SUPABASE_DATABASE_PORT=6543
SUPABASE_DATABASE_NAME=postgres
SUPABASE_DATABASE_USER=usuario_de_supabase
SUPABASE_DATABASE_PASSWORD=contraseña